.trackDetailsMainDiv {
  display: grid;
  grid-template-columns: 18px 1fr 2fr repeat(4, 1fr);
  grid-auto-columns: min-content;
  grid-column-gap: 1.5rem;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

span {
  color: dimgray;
}

.nameSpan:hover {
  color: #f380c8;
}

.trackDetailsActivityIcon {
}

.trackDetailsDate {
}

.trackDetailsName {
}

.trackDetailsUnits {
}

.trackDetailsAvgSpeed {
}

.trackDetailsPace {
}

.trackDetailsElapsedTime {
}
