.sideBarDiv {
  left: 0;
  top: 82px;
  padding: 130px 40px 40px;
  background-color: #eeeeee;
  box-sizing: border-box;
  text-align: left;
  min-height: 100vh;
  overflow: hidden;
}

.combinedChallengesDiv {
  font-size: 42px;
  font-family: "somatic";
  font-weight: 800;
  line-height: normal;
  width: 272px;
  -webkit-font-smoothing: antialiased;
}

.searchInputDivContainer {
  height: 61px;
  display: flex;
}

.datesDiv {
  font-family: "somatic";
  font-weight: 800;
  margin-bottom: 2.5rem;
}

.searchDiv {
  width: 240px;
  height: 45px;
  margin-bottom: 1rem;
  display: inline-flex;
  text-align: left;
}

.searchDiv input {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  box-shadow: 6px 6px 11px -4px rgba(176, 176, 176, 1);
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
}

.searchDiv span {
  margin-left: -40px;
  margin-top: 7px;
  font-size: 1.5rem;
}
