.leftInfoDiv {
  display: inline-block;
  width: 100%;
}

.firstDivInsideCard {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 15px;
  width: 100%;
  color: black;
  padding: 0.25rem 0.25rem 0 0;
  background-color: #fff;
  background-clip: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.cardImage {
  box-sizing: border-box;
  width: 90px;
  border-radius: 50% !important;
  display: block;
  margin: auto;
}
.combinedDiv {
  float: right;
  width: 200px;
  margin-right: 25px;
}

.combinedPointsDiv {
  float: left;
  margin-left: 25px;
}

.combinedUnitsDiv {
  float: right;
}

.nameP {
  display: block;
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-family: "somatic";
}

.rankDiv {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 100;
  margin-left: 25px;
  float: left;
}

.positionFirst {
  font-size: 25px;
  font-family: "somatic";
  font-weight: 900;
  color: #fa056d;
  box-sizing: border-box;
  margin-top: 0px;
  text-align: center;
}

.positionP {
  font-size: 23px;
  font-family: "somatic";
  font-weight: 700;

  box-sizing: border-box;
  margin-top: 0px;
  text-align: center;
}

.rankP {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0;
  box-sizing: border-box;
  margin-top: -35px;
  line-height: 1.5;
  font-size: 1rem;
  color: #807c7c;
}

.combinedPointsP {
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 25px;
  font-family: "somatic";
  font-weight: 500;
  margin: 0;
  color: #000000;
}

.combinedUnitsP {
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 25px;
  font-family: "somatic";
  font-weight: 500;
  margin: 0;
  color: #000000;
}

.categoryPointsDiv {
  text-align: center;
}

.categoryIcon {
  margin-left: 5px;
  height: 24px;
  width: 40px;
  text-align: center;
}

.categoryDetailedPointsDiv {
  width: 80%;
  border: 1px solid transparent;
  display: inline-flex;
  text-align: center;
}

.categoryDetailedStatsDiv {
  margin-left: 5px;
  text-align: center;
  font-family: "somatic";
  color: #807c7c;
}
