<div class="loginFormContainer">
  <div class="loginTitleContainer">
    <div class="loginTitleDiv">Login</div>
    <button type="button" class="exitButton">×</button>
  </div>
  <form>
    <div class="loginInputsDiv">
      <input
        type="email"
        placeholder="Email"
        autocomplete="email"
        value="dragos.podariu"
      /><input
        type="password"
        placeholder="Password"
        autocomplete="current-password"
        value="Asdfqwzxc1"
      />
    </div>
  </form>
  <div class="loginDividerDiv"></div>
  <div class="loginButtonDiv">
    <button type="button" (click)="tryLogin()">Log In</button>
  </div>
</div>
