.toolbar {
  position: fixed;
  display: flex;
  -webkit-box-pack: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 62.4px;
  box-shadow: 0px 0px 20px -8px rgba(176, 176, 176, 1);
}

.backButtonDiv {
  margin-left: 5%;
  justify-content: center;
}

.backButton {
  display: flex;
  margin: 0px auto;
  cursor: pointer;
}

.titleDiv {
  margin: 0px auto;
  display: flex;
  -webkit-box-pack: center;
  align-items: center;
}

.imgFortec {
  display: flex;
  margin: 0px auto;
}

.labelToolbar {
  font-family: "somatic";
  margin-left: 25px;
}

.loginDiv {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 5%;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-family: "Open Sans L";
  -webkit-font-smoothing: antialiased;
}

.imgContainer {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.imgLogin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to right, #07afe9, #2af19c);
}

.loginButton {
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  font-family: "Open Sans L", serif;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}
