.pagesDiv {
  text-align: center;
  padding: 30px 0;
  color: #afafaf;
  // user-select: none;
}

.pagesSpanTop {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
}

.pagesSpanTop:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanFirstSelected {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
  color: #fa056d;
}

.pagesSpanFirstUnselected {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
}

.pagesSpanSecondSelected {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
  color: #fa056d;
}

.pagesSpanSecondUnselected {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
}

.pagesSpanThirdSelected {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
  color: #fa056d;
}

.pagesSpanThirdUnselected {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
}

.pagesSpanFourthSelected {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
  color: #fa056d;
}

.pagesSpanFourthUnselected {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
}

.pagesSpanFifthSelected {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
  color: #fa056d;
}

.pagesSpanFifthUnselected {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
}

.pagesSpanFirstSelected:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanFirstUnselected:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanSecondSelected:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanSecondUnselected:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanThirdSelected:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanThirdUnselected:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanFourthSelected:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanFourthUnselected:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanFifthSelected:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanFifthUnselected:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}

.pagesSpanBottom {
  padding: 9px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
}

.pagesSpanBottom:hover {
  background-color: ghostwhite;
  border-radius: 100%;
}
