<div class="sideBarDiv">
  <div class="combinedChallengesDiv">Combined Challenges</div>
  <div class="datesDiv">11/05/2019 - 15/11/2019</div>
  <div class="searchDiv">
    <input type="text" placeholder="Search" />
    <span>
      <svg
        stroke="currentColor"
        fill="none"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </span>
  </div>
  <div class="calendarDiv">
    <div class="yearsDiv">
      <div class="insideYearsDiv1"></div>
      <button class="insideYearsButton1">2018</button>
      <button class="insideYearsButton2">2019</button>
      <div class="insideYearsDiv2"></div>
    </div>
    <div class="monthsDiv">
      <button class="firstSetOfButtons">Jan</button>
      <button class="firstSetOfButtons">Feb</button>
      <button class="firstSetOfButtons">Mar</button>
      <button class="firstSetOfButtons">Apr</button>
      <button class="secondSetOfButtons">May</button>
      <button class="secondSetOfButtons">Jun</button>
      <button class="secondSetOfButtons">Jul</button>
      <button class="secondSetOfButtons">Aug</button>
      <button class="secondSetOfButtons">Sep</button>
      <button class="secondSetOfButtons">Oct</button>
      <button class="secondSetOfButtons">Nov</button>
      <button class="firstSetOfButtons">Dec</button>
      <button class="secondSetOfButtons" style="grid-column-start: 2;">
        All
      </button>
    </div>
    <div class="gendersDiv">
      <button class="allGendersButton"></button>
      <button class="maleGenderButton"></button>
      <button class="femaleGenderButton"></button>
    </div>
  </div>
</div>
