.detailsPageDiv {
  width: 100%;
  box-sizing: border-box;
  // border: 5px solid yellow;
}

.cardsDiv {
  box-sizing: border-box;
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 2rem;
  width: 80%;
  margin-left: 11%;
  padding: 0 50px;
}

.theCardComponent {
  box-sizing: border-box;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-bottom: 25px;
  border: 1px solid;
  cursor: pointer;
}
.theCardComponent:hover {
  box-shadow: 6px 6px 11px -4px rgba(176, 176, 176, 1);
}
