<div class="detailsPageDiv">
  <!-- <div class="cardsDiv"> -->
  <!-- <app-card-component class="theCardComponent"></app-card-component>
    <app-card-component class="theCardComponent"></app-card-component>
    <app-card-component class="theCardComponent"></app-card-component>
    <br />
    <app-card-component class="theCardComponent"></app-card-component>
    <app-card-component class="theCardComponent"></app-card-component>
    <app-card-component class="theCardComponent"></app-card-component> -->
  <div class="cardsDiv">
    <app-card-component
      *ngFor="let contestant of getListOfContestants()"
      class="theCardComponent"
      [contestant]="contestant"
    ></app-card-component>
  </div>
  <!-- </div> -->
  <app-bottom-navigation></app-bottom-navigation>
</div>
