<div class="detailsPageDiv">
  <div class="cardsDiv">
    <app-card-component class="theCardComponent"></app-card-component>
    <app-card-component class="theCardComponent"></app-card-component>
    <app-card-component class="theCardComponent"></app-card-component>
    <br />
    <app-card-component class="theCardComponent"></app-card-component>
    <app-card-component class="theCardComponent"></app-card-component>
    <app-card-component class="theCardComponent"></app-card-component>
  </div>
  <app-bottom-navigation></app-bottom-navigation>
</div>
